<<<<<<< HEAD
body{

  background-color:#48BEA8;
  background: linear-gradient(to bottom left,#4dffff 50%,#97339F 50%);
  height:600px;

}
.heading{
  background-color:#97339F;
  text-align:center;
  text-shadow: 1px 1px;
  font-size: 150%;
  margin: 150px 550px 0;
  border-radius: 10px;
  box-shadow: 3px 3px 1px black;
}
input[type="text"]{
  display:inline-block;
  vertical-align: top;
  box-shadow: inset 0 0 10px #cccccc;
}
.item{
  display: flex;
  align-items: center;
  /* text-align: center; */
  background-color: white;
  font-family: 'Chango', regular;
  border-bottom: 1px solid gray;
  color: #333333;
  font-size: 12px;

}
.item p{
  margin:16px 0;
}

.item:last-child{
  border-bottom: 0;
}

input[type="checkbox"]{
  width:90px;
  height:13px;
}


form.item{
  margin: 0 550px;
}
#lists{
  margin:0 550px;
  box-shadow: inset 0 0 20px #cccccc ;

}

input{
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  border-bottom: 2px solid grey;
  width:120px;
  padding:7px 15px;
}
input:checked+p{
  text-decoration: line-through;
  text-decoration-style: solid;
  text-decoration-color: #000000;
}
input:focus,
input:active{
  border-color: transparent;
  border-bottom:3px solid #97339F;
}
::placeholder{
  background-color:#cccccc;
  color:#262626;

  opacity:0.5;
}
.iteminput{
  margin: 0 90px;
}
button{
  padding:20px 20px;
  font-size:20px;
  background-color:#97339F;
  border-radius: 100% ;
  /* margin:10px; */

}


.buttonstyle{
  padding: 15px 20px;
   align-items: center;
  text-align: center;
}
footer {
  text-align: center;
  margin: 3rem;
}
=======
html{

  background-color:#48BEA8;
  background: linear-gradient(75deg,#4dffff,#97339F);

}
.heading{
  background-color:#97339F;
  text-align:center;
  text-shadow: 1px 1px;
  font-size: 150%;
  margin: 150px 550px 0;
  border-radius: 10px;
  box-shadow: 3px 3px 1px black;
}
input[type="text"]{
  display:inline-block;
  vertical-align: top;
  box-shadow: inset 0 0 10px #cccccc;
}
.item{
  display: flex;
  align-items: center;
  /* text-align: center; */
  background-color: white;
  font-family: 'Chango', regular;
  border-bottom: 1px solid gray;
  color: #333333;
}

.item:last-child{
  border-bottom: 0;
}

form.item{
  margin: 0 550px;
}
#lists{
  margin:0 550px;
  box-shadow: inset 0 0 20px #cccccc ;

}

input{
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  border-bottom: 2px solid grey;
  width:120px;
  padding:7px 15px;
}
input:checked+p{
  text-decoration: line-through;
  text-decoration-style: solid;
  text-decoration-color: #000000;
}
input:focus,
input:active{
  border-color: transparent;
  border-bottom:3px solid #97339F;
}
::placeholder{
  background-color:#cccccc;
  color:#262626;

  opacity:0.5;
}
.iteminput{
  margin: 0 90px;
}
button{
  padding:20px 20px;
  font-size:20px;
  background-color:#97339F;
  border-radius: 100% ;
  /* margin:10px; */

}


.buttonstyle{
  padding: 15px 20px;
   align-items: center;
  text-align: center;
}
footer {
  text-align: center;
  margin: 3rem;
}
>>>>>>> 48660bdba8688819b0c9eb3be174407f044e3746
